*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;

}

/* common shared style */


body{
    font-family: 'Open Sans', sans-serif;
}
header{
    background-color: #FFF8F3;
    background-image: url('/images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    border: 2px solid #fff;
    padding-top: 30px;
}
.nav-title{
    color:  #181818;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    background-color: #FD6E0A;
    border: 0;
    border-radius: 3px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    padding: 5px 15px;
}

section .section-title{
color:  #181818;
text-align: center;
font-size: 35px;
font-weight: 700;
}
section .section-content{
    color: #757575;
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}
section .skill-container{
    display: flex;
    margin: 50px 0 130px 0;

}
section .skill-info{
    width: 25%;
    margin: 30px 12px;
    border: #ffffffcc;
    border-radius: 5px;
    padding: 30px 33px;
    background-color: white;
    backdrop-filter: blur(20px);
    box-shadow: 2px 2px 10px rgba(163, 163, 163, 0.711);
}
section .skill-title{
    margin:30px 0 20px 0 ;
color: #181818;
font-size: 20px;
font-weight: 700;
}
section .skill-content{
    color: #757575;
font-size: 16px;
font-weight: 400;
line-height: 28px;
}
section #what-i-do-content{
padding: 30px 150px;
margin: 0 auto;
}

section .resume-section .resume-title{
   
    color: #181818;
text-align: center;
font-size: 35px;
font-weight: 700;
}
section .resume-container{
    display: flex;
    justify-content: space-between;
    margin-top:110px ;
}

/*education column style  */

.education-resume{
    margin-right: 25px;
    margin-left: 20px;
}
.education-resume h1{
    color: #474747;
font-size: 30px;
font-weight: 700;
}
 .education-stage{
 margin-bottom:60px ;
 
}

.education-stage .edu-title{
margin: 30px 0 10px 0;
color: #474747;
font-size: 25px;
font-weight: 700;
}
.edu-title .edu-timespan{
    margin-bottom: 20px;
    color:#757575;
    font-size: 20px;
    font-weight: 600;
}
.edu-description{
    width: 511px;
    color: #757575;
font-size: 16px;
font-weight: 400;
line-height: 28px;
}
/*experience column style  */

.experience-resume{
    margin:0 20px 0 20px;
}
 .experience-stage{
    margin-bottom: 60px;
}
.experience-resume h1{
    color: #474747;
font-size: 30px;
font-weight: 700;
}
.experience-resume .experience-stage{
 margin-bottom:60px ;
}
.experience-stage .exp-title{
margin: 30px 0 10px 0;
color: #474747;
font-size: 25px;
font-weight: 700;
}
.exp-title .exp-duration{
    margin-bottom: 20px;
    color:#757575;
    font-size: 20px;
    font-weight: 600;
}
.exp-description{
    width: 511px;
    color: #757575;
font-size: 16px;
font-weight: 400;
line-height: 28px;
}



/* nav related style */

nav{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin: 0 200px;
}
nav > ul{
display: flex;
align-items: center;
}

nav ul li{
    margin-right:50px ;
}

/* banner styles */

.banner
{
    padding:30px 30px 0px 150px ;
   display: flex;
   align-items: center;
}
.banner .profie-pic
{
    width:500px ;
    
}
.banner .banner-content .banner-greeting
{
color:  #474747;
font-size: 45px;
font-weight: 600;
}
.banner .banner-content .banner-title{
 color: #181818;
font-size: 85px;
font-weight: 700;

}
.banner .banner-content p{
color: #757575;
font-size: 18px;
font-weight: 400;           
line-height: 30px;  
}

/* main section styles */ 
main{
    max-width: 1140px;
    margin: 0 auto;
}
main .about-info-container{
    justify-content: center;
    margin-top: 30px ;
    display: flex;
}
main .about-info {
    padding: right 50px; 
    margin: 0 auto;
    text-align: center;
}
main .about-info-title{
    color: #474747;
    font-style: normal;
font-size: 20px;
font-weight: 100;
line-height: 30px;
}


/* about section styles */

.about{
    margin: 130px;
    padding: 130px;
    background-color: #FFF8F3;
}

/* CV download button */
.download-btn{
    display: flex;
    margin: 0 auto;
}
#btn-cv-download{
    margin: 0 auto;
}