*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
nav > ul{
    display: flex;
    margin: 10px;
    background-color: lightyellow;
}
nav ul li{
    padding: 5px 20px;
}
nav ul li a{
    border-radius: 3px;
    color: black;
    font-size: 1.3rem;
    
}
nav ul li a:hover{
    background-color: bisque;
}
nav ul li .dropDown{
 display:none;
}
nav ul li:hover > .dropDown{
    display:block ;
}
